@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fbfbfb;
    font-family: 'Raleway', sans-serif;
    color: #333;
}

header,
section,
footer {
    padding: 1rem;
}

/* unable the header to cover the content */
section {
    scroll-margin-block: 60px;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header li {
    display: inline-block;
}

/* main */

/* footer */

footer {
    text-align: center;
}

.bg {
    background-color: white;
}

.btn {
    border: none;
    border-radius: 0.5rem;
    box-shadow: none;
    padding: 0.5rem 1rem;
    background-color: orange;
    font-size: inherit;
    font-family: inherit;
    color: white;
}

.mobile {
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: none;
}

#backToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

/* media queries */

@media (max-width: 640px) {

    nav ul {
        display: none;
    }

    .mobile {
        display: block;
    }

    ul.responsive {
        display: block;
        background-color: white;
        position: absolute;
        left: 0;
        top: 65px;
        width: 100%;
    }

    ul.responsive li {
        display: block;
        margin: 1rem;
    }
}
