@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(247, 247, 247);
    font-family: 'Raleway', sans-serif;
    color: #333;
}

header,
section,
footer {
    padding: 1rem;
}

section {
    scroll-margin-block: 60px; /* unable the header to cover the content */
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header li {
    display: inline-block;
}

/* main */

#overlay {
    background-color: rgba(51, 51, 51, 0.85);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 2rem;
}

.modal {
    background-color: rgb(159, 159, 159);
    border-radius: 5px;
    color: white;
    padding: 1.5rem 80px 1.5rem 1.5rem;
    max-width: 600px;
    margin: 150px auto;
    position: relative;
}

#modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#modal-button {
    border: none;
    background-color: rgba(255, 166, 0, 0.753);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    margin-left: 20px;
}

#modal-button:hover,
#modal-close:hover {
    opacity: 0.6;
}

.hide {
    display: none;
}


/* footer */

footer {
    text-align: center;
}

.bg {
    background-color: white;
}

.btn {
    border: none;
    border-radius: 0.5rem;
    box-shadow: none;
    padding: 0.5rem 1rem;
    background-color: orange;
    font-size: inherit;
    font-family: inherit;
    color: white;
}

.mobile {
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: none;
}

#backToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}


/* media queries */

@media (max-width: 640px) {

    nav ul {
        display: none;
    }

    .mobile {
        display: block;
    }

    ul.responsive {
        display: block;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0;
        top: 65px;
        width: 100%;
    }

    ul.responsive li {
        display: block;
        margin: 1rem;
    }
}
