@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d3d3d3;
    font-family: 'Raleway', sans-serif;
    color: #333;
}

header,
section,
footer {
    padding: 1rem;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline-block;
}


/* main */

/* footer */

footer {
    text-align: center;
}

#backToTop {
    padding: 5px 10px;
    border-radius: 5x;
}
