* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 15px white;
    color: #333;
    background-image: url('./magical-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}

label {
    display: inline-block;
    width: 50%;
    color: rgb(225, 225, 225);
    font-size: 28px;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

input[type="text"],
textarea {
    background-color: rgb(231, 211, 255);
    color: rgb(255, 130, 151);
    border-radius: 7px;
    border-color: rgb(114,34, 64);
    padding: 7px;
    opacity: 0.8;
    width: 200px;
}

textarea {
    resize: none;
    vertical-align: top;
}

input[type="text"]:focus,
button:focus,
textarea:focus {
    outline: 5px ridge rgb(92, 20, 98);
}

div {
    padding: 15px 0;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding: 40px;
    margin-bottom: 30px;
    color: rgb(230, 254, 254);
}

h2 {
    font-size: 22px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 32px;
    text-align: center;     
    padding: 10px;
    color: rgb(114,34, 64);
}

button {
    margin-top: 40px;
    padding: 15px 25px;
    background-color: rgb(114,34, 64);
    color: rgb(225, 225, 225);
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(181, 76, 198);
}

/* - - - Classes - - - */

.main-section {
    height: 100vh;
}

.response {
    background-color: rgb(225, 225, 225);
    opacity: 0.75;
    margin: 30px 15%;
    border-radius: 15px;
}

.center {
    margin: auto;
    width: 70%;
}

.errorMsg {
    color: white;
}

.text-stroke {
    -webkit-text-stroke: 1px #fff;
    color: rgb(114,34, 64);
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}
